<div class="logo-box" style="float:left">
</div>
<div class="dataseed-description">
	<h2>Data Seed</h2>
	<p>
	Dataseed generates randomized data for testing purposes. It can output data in a variety of formats or as an SQL insert file. This allows you to easily fill a database with dummy information when developing.
	</p>
	<br/>
	<br/>
	<h2>Generating Data</h2>
	<div class="step">
		<div class="stepnumber">1</div>
		<div class="stepdescription">Create a dataset and give it a name. This should be the name of the table. If you are planing to export into SQL.</div>
		<div style="clear:both"></div>
	</div>
	<div class="step">
		<div class="stepnumber">2</div>
		<div class="stepdescription">Describe your dataset by adding fields. You can select from a variety of data templates.</div>
		<div style="clear:both"></div>
	</div>
	<div class="step">
		<div class="stepnumber">3</div>
		<div class="stepdescription">Generate and download the data!</div>
		<div style="clear:both"></div>
	</div>
	<br/><br/>
	<br/>
	<div class="tryform">
	<%= form_for :Dataset, url: '/d' do |f| %>
        <input class="textbox" type="text" name="dataset[name]" placeholder="Dataset Name">
        <input type="submit" value="Create Dataset"/>
	<% end %>
	</div>
	<br/><br/>
	<div style="height:5px; background-color: #2F6F34;border-bottom:1px solid #39CD54;"></div>
	<br/><br/>
	<h2>Open Source</h2>
	<p>Dataseed is open source. It is written in Ruby and the sourcecode is hosted in a public git repository via BitBucket. You can download the source code <a href="https://bitbucket.org/viaov/dataseed">here</a>. Dataseed uses Ruby 1.9.3, Rails 3.1 and SQLite3. Although it should run on earlier verisons.</p>
	<h2>Contribute</h2>
	<p>Find dataseed useful? Why not contribute? Head over to BitBucket and fork the project, add some features, and create a pull request. Its that easy.</p>
</div>
<div style="clear:both"></div>