
<div class="keyval" style="margin-top:15px;;margin-left:5px;float:left">
	<div class="item">
		<span class="key">Dataset Name</span>
		<span class="val"><%= @dataset.name %></span>
	</div>
	<div class="item">
		<span class="key">Dataset ID</span>
		<span class="val"><%= @dataset.guid %></span>
	</div>
</div>
<a  style="float:right;margin-top:40px;" href="/d/<%= @dataset.guid %>"><button class="button-blue" style="width:150px">Edit Dataset</button></a>
<div style="clear:both"></div>
<div style="height:5px;"></div>
<table style="width:100%">
	<thead>
		<tr>
			<% @data[0].each do |k,v| %>
				<th><%= k %></th>
			<% end %>
		</tr>
	</thead>


	<tbody>
	<% @data.each do |d| %>
		<tr>
			<% d.each do |k,v| %>
				<td><%= v %></td>
			<% end %>
		</tr>
	<% end %>
	</tbody>
</table>
<br/><br>
<div style="width:450px;float:left;padding:15px;">
<h3>Download Dataset</h3>
The data above is a preview of the generated data. If it looks right you can download a dataset in one of the formats below. This dataset will contain 100 records. If you need more data it can be downloaded multiple times. Each file will contain uniquely generated records.
</div>
<div style="width:450px;float:left;padding:15px;">
<h3>Doesn't Look Right?</h3>
Does the data not look correct or was there a problem generating the data? Toss me an email and tell me about it <a href="mailto:joe@confluentlight.com">here</a>.
</div>
<div style="clear:both"></div>

<br/><br/>
<div align="center">
<a href="/d/<%= @dataset.guid %>/output/<%= @dataset.name %>.csv" class="data-button">
	<div class="glyph"></div>
	<div class="text">CSV</div>
</a>
<a href="/d/<%= @dataset.guid %>/output/<%= @dataset.name %>.xml" class="data-button">
	<div class="glyph"></div>
	<div class="text">XML</div>
</a>
<a href="/d/<%= @dataset.guid %>/output/<%= @dataset.name %>.mysql" class="data-button">
	<div class="glyph"></div>
	<div class="text">MySQL</div>
</a>
<a href="/d/<%= @dataset.guid %>/output/<%= @dataset.name %>.mssql" class="data-button">
	<div class="glyph"></div>
	<div class="text">MS-SQL</div>
</a>
</div>

<div style="font-size:12px; color:#cccccc; text-align:center;margin-top:15px;">Generated dataset in <%= @processing_time %></div>