
<h1>Create dataset</h1>



<div class="form-container">
	<%= form_for :Dataset, url: '/d' do |f| %>
        <label>Dataset Name:</label> <input type="text" name="dataset[name]">
        <div class="footer">
            <input type="submit" value="Create"/>
        </div>
	<% end %>
	</form>
</div>




