<?xml version="1.0" encoding="UTF-8"?>
<data>
	<% @data.each do |d| %>
	<<%= @dataset.name %>>
	<% d.each do |k,v| %>
		<<%= k.gsub(' ','_') %>><%= v %></<%= k.gsub(' ','_') %>>
	<% end %>
	</<%= @dataset.name %>>
	<% end %>
</data>