
<div class="keyval" style="margin-top:15px;;margin-left:5px;float:left">
	<div class="item">
		<span class="key">Dataset Name</span>
		<span class="val"><%= @dataset.name %></span>
	</div>
	<div class="item">
		<span class="key">Dataset ID</span>
		<span class="val"><%= @dataset.guid %></span>
	</div>
</div>
<a  style="float:right;margin-top:40px;" href="/d/<%= @dataset.guid %>/generate"><button class="button-blue" style="width:150px">Generate</button></a>
<div style="clear:both"></div>
<div style="height:5px;"></div>
<table>
	<thead>
		<tr>
			<th style="width:150px;">Field</th>
			<th>Template</th>
			<th style="width:30px;"></th>
		</tr>
	</thead>
	<tbody>
		<% if @dataset.fields.count == 0 then %>
			<tr><td colspan="3" style="padding: 10px;font-style:italic">No fields created</td></tr>
		<% end %>

		<% @dataset.fields.each do |field| %>
			<tr>
				<td><%= field.name %></td>
				<td><%= field.template %></td>
				<td><a class="table-action" href="/d/<%= @dataset.guid %>/deletefield/<%= field.id %>"><button class="button-delete"></button></a></td>
			</tr>

		<% end %>
	</tbody>
</table>
<br/><br/>
<div class="form-subtle" style="width:100%;margin:auto auto;">
	<%= form_for :field, url: "/d/#{@dataset.guid}/newfield" do |f| %>
		<div class="field"><label>Field Name</label><input type="text" class="textfield" name="field[name]"/></div>
		<div class="field">
		<label>Data Template</label>
		<select data-placeholder="Data Template" style="width:250px;" name="field[template]" id="fieldtemplate">
			<option value=""></option>
			<optgroup label="Strings">
				<option value="name">Name</option>
				<option value="phone">Phone Number</option>
				<option value="address">Street Address</option>
				<option value="city">City</option>
				<option value="state">State</option>
				<option value="zip">Zipcode</option>
				<option value="color">Color</option>
			</optgroup>
			<optgroup label="Numbers">
				<option value="number-range">Random from range (1,2,3,4,5)</option>
				<option value="number-list">Random from list (1,2,3,5,8,13,21)</option>
				<option value="number-sequential">Sequential from range</option>
				<option value="float">Float from range</option>
			</optgroup>
			<optgroup label="Time">
				<option value="time">Time (18:00)</option>
				<option value="date">Date (3/1/13)</option>
				<option value="datetime">Date/Time (3/1/13 18:00)</option>
				<option value="datetime-add">Add Date/Time</option>
			</optgroup>
		</select>
		</div>
		<div id="options-name" class="field-options">
			<div class="field">
				<label>Style</label>
				<select name="option[style]" style="width:100px;">
					<option value="first">First Name</option>
					<option value="last">Last Name</option>
					<option value="full">Full Name</option>
				</select>
			</div>
			<div class="field">
				<label>Gender</label>
				<select name="option[gender]" style="width:100px;">
					<option value="both">All</option>
					<option value="female">Female</option>
					<option value="male">Male</option>
				</select>
			</div>
		</div>
		<div id="options-phone" class="field-options">
			<div class="field">
				<label>Format</label><input type="text" class="textfield" name="option[format]" value="(###)###-####"/>
			</div>
		</div>
		<div id="options-city" class="field-options">
			<div class="field">
				<label>State Field</label>
				<select name="option[constraint]">
					<option value="none">None</option>
					<% @dataset.fields.each do |field| %>
					<option value="<%= field.name %>"><%= field.name %></option>
					<% end %>
				</select>
			</div>
		</div>
		<div id="options-color" class="field-options">
			<div class="field">
				<label>Color Type</label>
				<select name="option[color_type]">
					<option value="name">Color Name</option>
					<option value="hex">Hex Value (#330000)</option>
				</select>
			</div>
		</div>
		<div id="options-number-sequential" class="field-options">
			<div class="field"><label>Minimum Number</label><input type="text" class="textfield" name="option[start]" value="1"/></div>
			<div class="field"><label>Maximum Number</label><input type="text" class="textfield" name="option[end]" value="100"/></div>
			<div class="field"><label>Iterate By</label><input type="text" class="textfield" name="option[step]" value="1"/></div>
		</div>
		<div id="options-float" class="field-options">
			<div class="field"><label>Minimum Number</label><input type="text" class="textfield" name="option[start]" value="1"/></div>
			<div class="field"><label>Maximum Number</label><input type="text" class="textfield" name="option[end]" value="100"/></div>
			<div class="field"><label>Decimal Precision</label><input type="text" class="textfield" name="option[precision]" value="2"/></div>
		</div>
		<div id="options-number-range" class="field-options">
			<div class="field"><label>Minimum Number</label><input type="text" class="textfield" name="option[start]" value="1"/></div>
			<div class="field"><label>Maximum Number</label><input type="text" class="textfield" name="option[end]" value="100"/></div>
		</div>
		<div id="options-number-list" class="field-options">
			<div class="field"><label>CSV List</label><input type="text" class="textfield" name="option[list]" value="1"/></div>
		</div>
		<div id="options-time" class="field-options">
			<div class="field"><label>Minimum Time</label><input type="text" class="textfield" name="option[start]" value="00:00"/></div>
			<div class="field"><label>Maximum Time</label><input type="text" class="textfield" name="option[end]" value="23:59"/></div>
		</div>
		<div id="options-date" class="field-options">
			<div class="field"><label>Minimum Date</label><input type="text" class="textfield" name="option[start]" value="<%= 7.days.ago.strftime('%Y-%m-%d')%>"/></div>
			<div class="field"><label>Maximum Date</label><input type="text" class="textfield" name="option[end]" value="<%= Time.new.strftime('%Y-%m-%d')%>"/></div>
			<div class="field"><label>Format</label><input type="text" class="textfield" name="option[format]" value="%Y-%m-%d"/></div>
		</div>
		<div id="options-datetime" class="field-options">
			<div class="field"><label>Minimum Date</label><input type="text" class="textfield" name="option[start]" value="<%= 7.days.ago.strftime('%Y-%m-%d')%>"/></div>
			<div class="field"><label>Maximum Date</label><input type="text" class="textfield" name="option[end]" value="<%= Time.new.strftime('%Y-%m-%d')%>"/></div>
			<div class="field"><label>Format</label><input type="text" class="textfield" name="option[format]" value="%Y-%m-%d %H:%M:%S"/></div>
		</div>
		<div id="options-datetime-add" class="field-options">
			<div class="field"><label>Minimum Amount</label><input type="text" class="textfield" name="option[min]" value="1"/></div>
			<div class="field"><label>Maximum Amount</label><input type="text" class="textfield" name="option[max]" value="3"/></div>
			<div class="field"><label>Unit</label>
				<select name="option[unit]">
					<option value="seconds">seconds</option>
					<option value="minutes">minutes</option>
					<option value="hours" selected>hours</option>
					<option value="days">days</option>
					<option value="months">months</option>
					<option value="years">years</option>
				</select>
			</div>
			<div class="field">
				<label>Base Field</label>
				<select name="option[constraint]">
					<option value="none">None</option>
					<% @dataset.fields.each do |field| %>
						<% if field.template == 'datetime' || field.template == 'datetime-add' then %>
						<option value="<%= field.name %>"><%= field.name %></option>
						<% end %>
					<% end %>
				</select>
			</div>
			<div class="field"><label>Format</label><input type="text" class="textfield" name="option[format]" value="%Y-%m-%d %H:%M:%S"/></div>
		</div>
		<br/>
		<button class="button-blue" style="margin-left:325px;">Add Field</button>
	<% end %>
</div>
<div style="width:500px">
<br/><br/>
<h3>Bookmark this dataset</h3>
You can bookmark this dataset and save it so you can get back to it easily.<br/>
<br/><br/>
<h3>Are we missing a template?</h3>
Toss me an email and I will try to add it. You can email me <a href="mailto:joe@confluentlight.com">here</a>. Better yet you could always add it yourself. Check out the source code <a href="https://bitbucket.org/viaov/dataseed">here</a>
<br/><br/>
</div>
<br style="clear:both"/>




<script>
	$('table tbody tr td').sortable();
	$('select').chosen({include_group_label_in_selected: true});

	$('#fieldtemplate').change(function() {
		$('.field-options').hide();
		$('.field-options input').attr('disabled', true);
		$('.field-options select').attr('disabled', true);

		var template = $('#fieldtemplate').val();

		$('#options-' + template).fadeIn(function() {
			$('select').chosen({include_group_label_in_selected: true});
			$('#options-' + template +' .field input').prop('disabled', null);
			$('#options-' + template +' .field select').prop('disabled', null);
		});
	});



</script>