@font-face {
	font-family: ArchivoBlack;
	src: url(ArchivoBlack-Regular.otf);
}

h1,h2,h3 {
	font-family: ArchivoBlack;
	color: #137726;
	font-weight: normal;
	padding: 0px;
	line-height: normal;
	margin: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	background: #f5f5f5;
	background-image: url(bg.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

div.header {
	height: 65px;
	background: #507e50; /* Old browsers */
	background: -moz-linear-gradient(top,  #505050 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #505050 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #505050 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #505050 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #505050 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#507e50', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	div.logo {
		background: url(logo-header.png);
		background-repeat: no-repeat;
		background-position: left center;
		height:65px;
		width:245px;
		cursor: pointer
	}
}

div.canvas {
	margin: auto auto;
	margin-top:15px;
	padding:25px;
	padding-bottom: 5px;
	min-height: 400px;
	width: 1000px;
	border: 1px solid #999;
	border-radius: 5px;
	background: white;
	font-size: 12px;
	font-family: helvetica, arial, sans-serif;
}

/* Stylesheet */


/* Imports */




div.keyval {
	border: 1px solid #bfbfbf;
	width: 500px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	div.item {
		span.key {
			padding:5px;
			font-weight: bold;
			display: inline-block;
			width:150px;
			background: #efefef;
			border-top: 1px solid #ffffff;
			border-bottom: 1px solid #cccccc;
			border-right: 1px solid #cccccc;
		}
		span.val {
			display: inline-block;
			width:300px;
			padding:5px;
		}
	}
}
div.keyval div.item:last-child span.key {border-bottom: transparent;}
div.keyval div.item:first-child span.key {border-top: transparent;}

table {
	border-spacing: 0px;
	padding: 0px;
	margin: auto auto;
	width: 100%;
	thead {
		tr {
			th {
			text-align: left;
			  border-left: 1px solid #179130;
			  border-right: 1px solid #034526;
			  background: #fafafa;
			  background: -webkit-linear-gradient(top, #06821f, #034526);
			  background: -moz-linear-gradient(top, #06821f, #034526);
			  background: -o-linear-gradient(top, #06821f, #034526);
			  background: linear-gradient(to bottom, #06821f, #034526);
			  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2);
			  color: #ffffff;
			  cursor: pointer;
			  font-family: "Helvetica Neue", Arial, Verdana, "Nimbus Sans L", sans-serif;
			  font-size: 13px;
			  font-weight: 500;
			  line-height: 28px;
			  padding: 0 13px;
			  text-shadow: 0 1px 0 white;
			  text-decoration: none;
			  vertical-align: middle;
			  white-space: nowrap;
			  -webkit-font-smoothing: antialiased;
			  -webkit-box-sizing: border-box;
			  -moz-box-sizing: border-box;

			}
		}
	}
	tbody {
		tr {
			td {
				padding:4px 8px;
				white-space: nowrap;				
			}
		}
	}
}


#logo {
	position: absolute;
	top: 10;
	left: 10;
	width: 300px;
	height:80px;
	background-image: url(../img/logo.png);
}


/* Selections */

::selection {
 	background: #444;
 	color: #fff;
 	text-shadow: none;
}

::-moz-selection {
 	background: #444;
 	color: #fff;
 	text-shadow: none;
}

/* Basics */

html, body {
	width: 100%;
	height: 100%;
	color: #444;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;

}





a {
	color: #006600;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #009900;
}

div.footer {
	padding-top:15px;
	text-align: center;
	font-size:12px;
	ul {
		list-style: none;
		li {
			display: inline-block;
			padding-left:20px;
			a {
				color: #cccccc;
				font-weight: bold;
			}
			a:hover {
				color: #333333;
				text-decoration: none;
			}
		}
	}
}

ul.items {
	list-style: none;
	margin:0px;
	list-style-position: inside;
	padding: 0px;
	li {
		clear:both;
		margin-top:5px;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
		padding:5px;
		border: 1px solid #cfcfcf;
		border-radius: 5px;
		cursor: pointer;
		div.delete {
			width:16px;
			height:16px;
			background: url(/assets/x.png);
			float:right;
			background-repeat: no-repeat;

		}
	}
}
ul.ui-selected {
	background-color: #a5bce4;
}

div.form-container {
	width: 340px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);

	form {
		margin: 0 auto;
		margin-top: 20px;

		label {
			display: inline-block;
			margin-left: 18px;
			padding-top: 10px;
			color: #555;
			font-size: 14px;
		}
		input[type=text] {
			margin: 10px;
			margin-top: 12px;
			margin-left: 18px;
			padding-left: 10px;
			width: 290px;
			height: 35px;
			outline: none;
			border: 1px solid #c7d0d2;
			border-radius: 2px;
			box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
			color: #777;
			font-size: 12px;
			font-family: "Helvetica Neue", Helvetica, sans-serif;
			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			transition: all .4s ease;
		}

		input[type=text] {
			border: 1px solid #b6bfc0;
			box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
		}

		input[type=text] {
			border: 1px solid #a8c9e4;
			box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
		}

	}
	input[type=submit] {
		float: right;
		margin-top: 20px;
		margin-right: 20px;
		padding: 5px 10px;
		width: 80px;
		height: 30px;
		border: none;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background: #7d0c0c;
		background: -webkit-gradient(linear, left top, left bottom, from(#9c3e3e), to(#7d0c0c));
		background: -webkit-linear-gradient(top, #9c3e3e, #7d0c0c);
		background: -moz-linear-gradient(top, #9c3e3e, #7d0c0c);
		background: -ms-linear-gradient(top, #9c3e3e, #7d0c0c);
		background: -o-linear-gradient(top, #9c3e3e, #7d0c0c);
		-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
		color: white;
		font-weight: bold;
		font-size: 14px;
		cursor: pointer;
	}
	input[type=submit]:hover {
	   background: #782828;
	   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
		-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	}
	input[type=submit]:active {
	   border-top-color: #5c1b1b;
	   background: #5c1b1b;
	}
	div.footer {
		margin-top: 20px;
		width: 100%;
		height: 69px;
		border-top: 1px solid #ccc;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		background: #f0f0f0;
		box-shadow: inset 0 1px 1px #fff;
	}

}



button {
  background: #fafafa;
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(to bottom, #ffffff, #eeeeee);
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2);
  color: #555555;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Arial, Verdana, "Nimbus Sans L", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 28px;
  outline: none;
  padding: 0 13px;
  text-shadow: 0 1px 0 white;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button-delete {
	border: transparent;
	width:20px;
	height: 20px;
	background: url(x.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.button-blue {
  background: #1385e5;
  background: -webkit-linear-gradient(top, #53b2fc, #1385e5);
  background: -moz-linear-gradient(top, #53b2fc, #1385e5);
  background: -o-linear-gradient(top, #53b2fc, #1385e5);
  background: linear-gradient(to bottom, #53b2fc, #1385e5);
  border-color: #075fa9;
  color: white;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
.button {
  background: #fafafa;
  background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -o-linear-gradient(top, #ffffff, #eeeeee);
  background: linear-gradient(to bottom, #ffffff, #eeeeee);
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2);
  color: #555555;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Arial, Verdana, "Nimbus Sans L", sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 31px;
  line-height: 28px;
  outline: none;
  padding: 0 13px;
  text-shadow: 0 1px 0 white;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button-red {
  background: #e61212;
  background: -webkit-linear-gradient(top, #fd5454, #e61212);
  background: -moz-linear-gradient(top, #fd5454, #e61212);
  background: -o-linear-gradient(top, #fd5454, #e61212);
  background: linear-gradient(to bottom, #fd5454, #e61212);
  border-color: #7c2222;
  color: white;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

