// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.logo-box {
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: center top;
	width:300px;
	padding-top:305px;

}
div.dataseed-description {
	padding:20px;
	margin-left: 50px;
	float:left;
	width: 550px;
}

div.step {
	div.stepnumber {
		font-size: 48px;
		font-weight: 900;
		font-family: helvetica, arial, sans-serif;
		color: #cccccc;
		float: left;
		width: 40px;
	}
	div.stepdescription {
		float:left;
		margin-top:11px;
		width: 400px;
	}
}

div.tryform form {
input[type=text] {
		margin: 10px;
		margin-top: 12px;
		margin-left: 18px;
		padding-left: 10px;
		width: 290px;
		height: 35px;
		outline: none;
		border: 1px solid #c7d0d2;
		border-radius: 2px;
		box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
		color: #777;
		font-size: 12px;
		font-family: "Helvetica Neue", Helvetica, sans-serif;
		-webkit-transition: all .4s ease;
		-moz-transition: all .4s ease;
		transition: all .4s ease;
	}

input[type=text] {
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=text] {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
input[type=submit] {
	padding: 5px 10px;
	height: 40px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #7d0c0c;
	background: -webkit-gradient(linear, left top, left bottom, from(#9c3e3e), to(#7d0c0c));
	background: -webkit-linear-gradient(top, #3f9c47, #0c7e34);
	background: -moz-linear-gradient(top, #3f9c47, #0c7e34);
	background: -ms-linear-gradient(top, #3f9c47, #0c7e34);
	background: -o-linear-gradient(top, #3f9c47, #0c7e34);
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
	color: white;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
input[type=submit]:hover {
   background: #3E9C39;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
}
input[type=submit]:active {
   border-top-color: #227932;
   background: #227932;
}
}
