<!DOCTYPE html>
<html>
<head>
  <title>Dataseed</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link href="/chosen/chosen.css" rel="stylesheet" type="text/css"/>
  <script src="/chosen/chosen.jquery.js"></script>
</head>
	<body>
		<div class="header">
			<div class="logo"></div>
		</div>
		<div class="canvas">
		<%= yield %>
		</div>
		<script>
			$('.logo').click(function() {
				document.location='/';
			})
		</script>
	</body>
</html>
